body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

pre {
  font-size: 5em;
}

.tick line {
  fill: none;
  stroke: #dadada;
}

.tick text {
  fill: #635F5D;
  font-size: 0.8em;
}

.mark-green {
  fill: #137B80;
}

.mark-red {
  fill: rgba(196, 91, 161, 0.973);
}

.axis-label {
  font-size: 1em;
  fill: #635F5D;
}

h1.chart-title {
  font-size: 1.5em;
  color: #635F5D;
  margin: 1em;
}

.dropdown-label {
  font-size: 1.5em;
  fill: #635f5d;
  color: #635f5d;
  margin-left: 50px;
}

.Dropdown-root {
  width: 250px;
  font-size: 1em;
  display: inline-block;
}

.Dropdown-menu {
  max-height: 500px;
}

.menus-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}